{{template "header" .}}

{{if or (eq .role "owner") (eq .role "super-admin")}}
    {{template "admin_dashboard"}}
{{else if eq .role "admin"}}
    {{template "dashboard" .}}
{{else}}
    {{template "dashboard" .}}
{{end}}

{{template "footer"}}