body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    max-width: 400px;
    margin: auto;
    padding: 40px 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.container h2 {
    text-align: center;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
}

.form-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.submit-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #10d380;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #0ca867;
}

.social-btn {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 5px;
    border: none;
    border-radius: 50%;
    background-color: #10d380;
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.social-btn:hover {
    color: rgba(28, 28, 28, 0.85);
    background-color: rgba(0, 179, 164, 0.69);
}