<!DOCTYPE html>
<html lang="en">
<head>
    <title>upload file form</title>
</head>
<body>
<form action="http://127.0.0.1:8000/uploads" method="post" enctype="multipart/form-data">
    <label for="image">image:</label>
    <input type="file" name="image" id="image"><br><br>

    <label for="technical_spec">technical spec file:</label>
    <input type="file" name="technical_spec" id="technical_spec"><br><br>

    <label for="installation_guide">installation guide file:</label>
    <input type="file" name="installation_guide" id="installation_guide"><br><br>

    <input type="submit" value="send">
</form>
</body>
</html>